doctype html
html
  head
    title mytest
  body
    h2 It is a explaination
    h3 Third line
    h1 It is my test document
    h3.title#third mytest on class and id
    //a(href="yuanyuan2018.com",title='mylink',data-uid='1000') link
    //input (name='course',type='checkbox',checked)
    p paragrahp1